    body {
            background-color: #111;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .moviePic {
            width: 300px;
            height: 450px;
            opacity: 0.9;
            border-radius: 10px;
            margin-top: 40px;
            box-shadow: 0px 0px 20px #f5c518;
        }

        .movieDetail {
            position: relative;
            top: 20px;
            width: 60%;
            margin: auto;
            text-align: center;
            font-size: 20px;
            line-height: 1.6;
            color: #eee;
        }

        h1 {
            color: #f5c518;
            margin-top: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
  